# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Database files
trading_logs.db

# Environment variables
.env
.env.testnet

# Other
*.log
*.jpeg

# IDE
.vscode/
.idea/
venv/

# Backups
backups/

# Trades
*_trades.db